hcloud_token = ""
cluster_authorized_ssh_keys = ""
cluster_name = "terrakube"
cluster_node_count = 3
cluster_node_types = "cx21,cx21,cx21"
cluster_node_locations = "nbg1,fsn1,hel1"
cluster_network_zone = "eu-central"
cluster_network_ip_range = "10.244.0.0/16"
cluster_loadbalancer_type = "lb11"
cluster_loadbalancer_location = "nbg1"
