hcloud_token                          = ""
cluster_authorized_ssh_keys           = ""
cluster_name                          = "terrakube"
cluster_controlnode_types             = "cx21,cx21,cx21"
cluster_controlnode_locations         = "nbg1,fsn1,hel1"
cluster_workernode_types              = "cx21,cx21,cx21"
cluster_workernode_locations          = "nbg1,fsn1,hel1"
cluster_network_zone                  = "eu-central"
cluster_network_ip_range              = "10.8.0.0/14"
cluster_network_ip_range_loadbalancer = "10.8.1.0/24"
cluster_network_ip_range_controlnode  = "10.8.2.0/24"
cluster_network_ip_range_workernode   = "10.8.3.0/24"
cluster_network_ip_range_service      = "10.10.0.0/16"
cluster_network_ip_range_pod          = "10.11.0.0/16"
cluster_controllb_type                = "lb11"
cluster_controllb_location            = "nbg1"
cluster_workerlb_type                 = "lb11"
cluster_workerlb_location             = "nbg1"
cluster_ingress                       = "nginx"
cluster_cni                           = "cilium"
registry_mirrors = {
  "docker.io" : ["https://registry-1.docker.io"]
}
